body {
    padding: 0;
    margin: 0;
    background: #5b305a;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    background: #723971;
    box-shadow: 0 0 30px #361235;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 85vh;
    width: 60vw;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title {
    position: absolute;
    top: 10px;
    font-size: 65px;
    margin-bottom: 80px;
}

.score {
    background: #e49756;
    border-radius: 15px;
    display: flex;
    text-align: center;
    width: 300px;
    justify-content: space-evenly;
    margin-top: 100px;
}

.move {
    font-size: 32px;
    font-weight: bold;
    margin-top: 40px;
}

.movesleft {
    font-size: 24px;
    margin-top: 10px;
}

.p-count, .c-count {
    background: #8c450a;
    text-shadow: 0 0 20px #f3d1a2;
    box-shadow: 0 0 30px #f3d1a2;
    text-align: center;
    font-size: 24px;
    width: 100px;
}

.options {
    display: flex;
    width: 500px;
    justify-content: space-evenly;
    margin-top: 32px;
}

.rock, .paper, .scissor, .question {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.rock i, .paper i, .scissor i {
    font-size: 100px;
    color: #ffffff;
    background: #e04b5a;
    padding: 10px;
    border-radius: 50%;
    margin: 10px;
    transition: all 0.3s ease;
}

.question i {
    font-size: 25px;
    color: #ffffff;
    background: #e04b5a;
    padding: 10px;
    border-radius: 50%;
    margin: 10px;
    transition: all 0.3s ease;
}

.rock i:hover, .paper i:hover, .scissor i:hover, .question i:hover {
    color: #ffffff;
    text-shadow: 0 0 20px #9a4c68;
    box-shadow: 0 0 30px #9a4c68;
    background: #e49756;
    transform: scale(1.1);
}

.reload {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffffff;
    display: none;
    margin-top: 64px;
    padding: 29px;
    background: #9a4c68;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 25px;
    transition: all 0.3s ease;
}

.reload:hover {
    color: #ffffff;
    text-shadow: 0 0 20px #9a4c68;
    box-shadow: 0 0 30px #9a4c68;
    background: #e49756;
    transform: scale(1.1);
}

.result {
    margin-top: 20px;
    font-size: 19px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #723971;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    color: #fff;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
